#!/usr/bin/make -f
#export DH_VERBOSE=1

# Include quilt stuff.
include /usr/share/quilt/quilt.make

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh_testdir
	touch $@

clean: unpatch
	dh_testdir
	$(MAKE) clean
	$(MAKE) -C doc clean
	dh_clean
	debconf-updatepo

install: build
	dh_testdir
	dh_testroot
	dh_prep
	$(MAKE) install DESTDIR=`pwd`/debian/backup-manager
	$(MAKE) -C doc install DESTDIR=`pwd`/debian/backup-manager-doc


binary-arch:
# Nothing to be done here.

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installman man/*.8
	dh_installdebconf
	dh_installdocs
	dh_installchangelogs
	dh_install
	dh_lintian
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

checkpo:
	for i in debian/po/*.po; do \
		echo -n "Checking: $$i: "; \
		msgmerge -U $$i debian/po/templates.pot; \
		msgfmt -o /dev/null -c --statistics $$i; \
		echo ""; \
	done

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch
